.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item:not(:last-child) {
    margin-bottom: 160px;

    @include onSmallScreen {
      margin-bottom: 60px;
    }

    @include onSuperSmallScreen {
      margin-bottom: 60px;
    }
  }
}
