.header-main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 150px;

  @include onMobile {
    padding: 0 30px 0 80px;
  }

  @include onSmallScreen {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding: 0 15px 0 30px;
  }

  &__user {
    display: flex;
    text-align: left;
    flex-direction: column;

    @include onSmallScreen {
      order: 2;
    }
  }
  
  &__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 100%;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;

    @include onMobile {
      font-size: 50px;
    }

    @include onSmallScreen {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  
  &__subtitle {
    font-size: 30px;
    line-height: 44px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    margin-bottom: 25px;

    @include onMobile {
      font-size: 20px;
    }
  
    @include onSmallScreen {
      font-size: 17px;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 650px;

    @include onMobile {
      height: 500px;
    }

    @include onSmallScreen {
      order: 1;
      margin-bottom: 90px;
      height: 350px;
    }
  }
}
