.header {
  background: linear-gradient(287.15deg, #450e4b 0%, 
  #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%),
    linear-gradient(0deg, #cf0063, #cf0063);
  width: 100vw;
  

  &__content {
    overflow: hidden;
    height: max-content;
    padding: $header-top-padding 0 0;

    @include onDesktop {
      padding: 20px 0;
      width: max-content;
      margin: 0 auto;
    }
    
    @include onSmallScreen {
      padding: 15px 0 35px;
    }

    @include onSuperSmallScreen {
      padding: 15px 0 35px;
    }
  }

  &__top-actions {
    margin-bottom: 80px;
    
    @include onSmallScreen {
      margin-bottom: 50px;
    }

    @include onSuperSmallScreen {
      margin-bottom: 30px;
    }
  }
}
