.logo {
  &__image {
    height: 43px;
    
    @include onMobile {
      height: 35px;
    }

    @include onSmallScreen {
      height: 22px;
    }

    @include onSuperSmallScreen {
      height: 20px;
    }
  }
}
