.menu {
  display: flex;
  padding: 0;
  
  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include onSmallScreen {
      margin-right: 12px;
    }

    @include onSuperSmallScreen {
      margin-right: 12px;
    }
  }

  &__item-link {
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;

    @include onSmallScreen {
      font-size: 12px;
    }

    @include onSuperSmallScreen {
      font-size: 12px;
    }
  }
}
