.subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-transform: uppercase;
  margin: 0;

  @include onSmallScreen {
    font-size: 9px;
  }

  @include onSuperSmallScreen {
    font-size: 9px;
  }
}
