.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  box-sizing: border-box;
  width: 100%;

  @include onMobile {
    padding: 0 80px;
  }

  @include onSmallScreen {
    padding: 0 20px;
  }

  @include onSuperSmallScreen {
    width: max-content;
    display: block;
    padding: 0 10px;
  }
}
