.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;
  width: 100%;

  @include onMobile {
    padding: 0 80px;
  }

  @include onSmallScreen {
    padding: 0 20px;
  }

  @include onSuperSmallScreen {
    justify-content: flex-start;
    padding: 0 20px;
  }

  &--side-menu {
    justify-content: space-between;
  }
}
